@charset "UTF-8";
:root {
  --primary-color: #1B1E24;
  --secondary-color: #1B1E24;
  --font-color: #1B1E24;
  --bg-color: #fff;
  --heading-color: #1B1E24;
}

[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #fff;
  --font-color: #fff;
  --bg-color: #1B1E24;
  --heading-color: #fff;
}

body {
  background-color: var(--bg-color);
}

section.spacer {
  height: 100px;
  width: 100%;
  position: absolute;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: auto;
  width: 90%;
  margin: auto;
}

.container .content {
  margin-top: 50px;
}

.container .content h1 {
  color: var(--primary-color);
  font-family: "Dosis",sans-serif;
  font-size: 30pt;
  text-transform: uppercase;
}

.container .content p {
  color: var(--primary-color);
  font-family: "Dosis",sans-serif;
  font-size: 18pt;
  text-align: left;
  width: 50%;
  margin: auto;
  line-height: 10mm;
}

@media only screen and (max-width: 1024px) {
  .container .content p {
    width: 95%;
  }
}

.container .map {
  width: 100%;
}

.header {
  position: absolute;
  top: 10px;
  right: 50%;
}

.header .moon, .header .sun {
  width: 34px;
  cursor: crosshair;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.header .sun:hover {
  -webkit-animation: sun_rotate 2s infinite;
          animation: sun_rotate 2s infinite;
}

.header .moon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .hide {
  display: none;
}

.header p.nightmode {
  position: absolute;
  bottom: -20%;
  left: 120%;
  font-size: 12pt;
}

.header p.daymode {
  position: absolute;
  bottom: -20%;
  left: 120%;
  font-size: 12pt;
  color: white;
}

@-webkit-keyframes sun_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sun_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navigation {
  height: 70px;
  background: #262626;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.bodyimg {
  width: 35%;
  margin: 50px auto 50px auto;
  border: 3px lightslategrey solid;
}

@media only screen and (max-width: 1024px) {
  .bodyimg {
    width: 90%;
  }
}

div.animate {
  text-transform: uppercase;
  letter-spacing: 2pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  width: auto;
  margin: 20px auto 20px auto;
}

div.animate h4 {
  color: var(--primary-color);
  font-size: 20pt;
}

@media only screen and (max-width: 1024px) {
  div.animate h4 {
    font-size: 11pt;
  }
}

div.animate span {
  font: 700 40pt "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  margin: auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://images.pexels.com/photos/2726986/pexels-photo-2726986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
